<html>
  <head>
    <title>SmartDen</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-firestore.js"></script>
    
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    

    <!-- scripts -->
    
  </head>
  <body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <style>
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
          background-color: #111;
        }
    </style>

    <!-- <div id="content"></div>
    <script type="text/jsx">
      
      function handleSome() {
        console.log("handle")
      }
      
      var enabled = false
      
      var realPython = React.createClass({
        

        render() {
          console.log(enabled)
          return (
            
              <div className="blue">
                  <nav>
                      <div className="nav-wrapper">
                        <a href="#" className="brand-logo right">Smart Den</a>
                        <ul id="nav-mobile" className="left hide-on-med-and-down">
                          <li><a onClick="home.html">Login</a></li>
                          <li><a href="badges.html">Components</a></li>
                        </ul>
                      </div>
                    </nav>

                  
                
              </div>
          );
        }

      });

      ReactDOM.render(
        React.createElement(realPython, null),
        document.getElementById('content')
      );

    </script> -->
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="">Modules</a></li>
      <li><a href="">Logout</a></li>
    </ul>


    <div style="color: blue; border:#111; border-width: 3px"

    
    
    <img src="{{ url_for('video_feed') }}">
    <div id="alert1">Camera 1</div>
    <div id="result1"></div>
     
    <div id="alert1">Camera 2</div>
    <div id="result2"></div>
    <div id="alert1">Camera 3</div>
    <div id="result3"></div>
    <script>
    
      get_camera1_Logs();
      get_camera2_Logs();
      get_camera3_Logs();

      function get_camera1_Logs(){
        $.ajax({
          type: 'POST',
          url: "/_view_log",
          dataType: "text",
          success: function(data){
              
              $('#result1').html(data)
          },
          complete: function() {
            // Schedule the next request when the current one's complete
            setTimeout(get_camera1_Logs, 5000);
          }
        });
      }

      function get_camera2_Logs(){
        $.ajax({
          type: 'POST',
          url: "/_view_logii",
          dataType: "text",
          success: function(data){
              
              $('#result2').html(data)
          },
          complete: function() {
            // Schedule the next request when the current one's complete
            setTimeout(get_camera2_Logs, 5000);
          }
        });
      }

      function get_camera3_Logs(){
        $.ajax({
          type: 'POST',
          url: "/_view_logiii",
          dataType: "text",
          success: function(data){
              if (data == null){
                $('#result3').html("Camera is not Connected!")
              } else {
                $('#result3').html(data)
              }
              
          },
          complete: function() {
            // Schedule the next request when the current one's complete
            setTimeout(get_camera3_Logs, 5000);
          }
          
        });
      }
      
    </script>
   
  </body>
</html>

